<!-- the about h1 tag should be fixed in it's position -->
<body class="about-body">
	<div>
		<h1 class="about">ABOUT</h1>
		<div class="description">
			<p class="abouts">My goal as an artist is to</p>
			<p class="abouts">provide solutions</p>
			<p class="abouts">through visual</p>
			<p class="abouts">illustrations and bring</p>
			<p class="abouts">forth creations that</p>
			<p class="abouts">showcase innovation</p>
			<p class="abouts">and originality</p>
		</div>

		<nav id="about_nav">
		  <ul>
		    <li class="about-li"><a href="/about">ABOUT</a></li>
		    <li class="about-li"><a href="/project">PROJECT</a></li>
		    <li class="last"><a href="contact">CONTACT</a></li>
		  </ul>
		</nav>
	</div>
</body>