<body class="index-body">
	<div class="home-body">
		<div class="fixed-position">
			<h1 class="rashad">RASHAD87</h1>
		<!-- 	<section class="roles">	 -->
				<ul class="fixed-list">
					<li class="active">graphic designer</li>
					<li class="active">art director</li>
					<li class="branding">branding</li>
				</ul>
		<!-- 	</section> -->
		</div>
		<nav id="main_nav">
		  <ul>
		    <li><a href="/about">ABOUT</a></li>
		    <li><a href="/project">PROJECT</a></li>
		    <li class="last"><a href="contact">CONTACT</a></li>
		  </ul>
		</nav>
	</div>
</body>