<div class="relative-position">
	<h1 class="rashad">RASHAD87</h1>
<!-- 	<section class="roles">	 -->
		<ul class="fixed-list">
			<li class="active">graphic designer</li>
			<li class="active">art director</li>
			<li class="last active">branding</li>
		</ul>
<!-- 	</section> -->
</div>

