<!-- images need to be centered and also resized to apply consistency to view -->
<body class="project-body">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/post-911.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/basquiat-sneakers-kings.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/miscellaneous-ep.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/nykhor-3.jpg" alt="" class="project-image">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/cool-kids-only.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/the-motion-of-the-universe.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/japan-international-logo.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/insert-foreign-object.jpg" alt="" class="project-image">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/who-am-i.jpg" alt="" class="project-image">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<img src="/img/madonna-magazine-spread.jpg" alt="" class="project-image">
			</div>
		</div>
	</div>
	<p id="project-tagline">PROJECT</p>
	<script src="/js/bootstrap.min.js"></script>
</body>
