<!-- images need to be centered and also resized to apply consistency to view -->
<body class="project-body">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="/images/post-911.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/basquiat-sneakers-kings.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/miscellaneous-ep.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/nykhor-3.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="/images/cool-kids-only.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/the-motion-of-the-universe.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/japan-international-logo.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="/images/insert-foreign-object.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/who-am-i.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
			<div class="thumbnail">
				<img src="/images/madonna-magazine-spread.jpg" alt="" class="img-responsive" style="width:100%">
			</div>
		</div>
	</div>
	<p id="project-tagline">PROJECT</p>
	<script src="/js/bootstrap.min.js"></script>
</body>
